RestfulWebService/src/main/java/po.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gmit="http://ds.sw.gmit.ie/models/" targetNamespace="http://ds.sw.gmit.ie/models/" elementFormDefault="qualified">
  
  <xsd:complexType name='Accounts'>
      <xsd:sequence>
        <xsd:element name='accNo'   type='xsd:string'/>
        <xsd:element name='fname' type='xsd:string'/>
        <xsd:element name='surname'   type='xsd:string'/>
        <xsd:element name='dob'  type='xsd:string'/>
        <xsd:element name='address'  type='xsd:string'/>
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>  